.button-container3 {
  margin-top: 21px;
  min-height: 125px;
  border-radius: 10px;
  background-color: #ededed;
}

.button {
  padding: 28px 63px 9px 63px;
}

.btn-center {
  width: 174px;
  height: 40px;
}

.button h4 {
  display: flex;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  font-weight: 700px;
}

.button-container3 h1 {
  padding: 0 50px 25px 50px;
  font-size: 18px;
  color: #585858;
}

@media (min-width: 576px) {
  .button-container3 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button {
    padding: 0;
  }

  .button-container3 h1 {
    padding: 0 0 0 16px;
  }
}

@media (min-width: 768px) {
  .button-container3 {
    justify-content: flex-start;
    padding-left: 85px;
  }
}
