.main-nav {
  min-height: 70px;
  padding-left: 20px;
}

.main-nav h4 {
  font-size: 24px;
}

.main-menu {
  display: flex;
  font-size: 18px;
  width: 180px;
  justify-content: space-between;
}

.title-container {
  padding: 0px 24px 0px 20px;
}

.main-menu a.active {
  font-weight: bold;
 }
 

/*@media (min-width: 576px) {
  .main-nav {
    padding-left: 76px;
  }
}

@media (min-width: 768px) {
  .main-menu {
    width: 172px;
    justify-content: space-between;
  }

  #dscarros-navbar {


  }
}
*/
