.base-card {
  margin-bottom: 20px;
  background: #ededed;
  border-radius: 10px;
}

.card-top-container {
  padding-top: 14px;
  text-align: center;
}

.card-top-container img {
  width: 220px;
  height: 165px;
  padding: 0 18px 0 18px;
}

.card-bottom-container h1 {
  font-size: 18px;
  font-weight: 700;
  color: black;
  text-align: center;
}

.card-bottom-container p {
  font-size: 14px;
  font-style: italic;
  color: #585858;
  text-align: left;
  padding: 18px 14px 38px 22px;
  margin: 0;
}

@media (min-width: 576px) {
  .base-card {
    width: 258px;
  }
}

@media (min-width: 768px) {
  .base-card {
    width: 349px;
    height: 347px;
  }

  .card-bottom-container p {
    padding: 18px 14px 30px 22px;
  }
}

@media (min-width: 992px) {
  .base-card {
    width: 296px;
  }
}

@media (min-width: 1200px) {
  .base-card {
    width: 306px;
    
  }
}